.Canvas2 {
    min-width: 60%;
    max-width: 100%;
    text-align: center;
    font-size: calc(10px + 1vmin);
  }
  
  
  .Separator2 {
    max-width: 90%;
    margin: 20px auto;
    border-color: var(--main-color);
  }
  
  .table2 {
    border-spacing:0;
  }
  
  tr {
    width: 30px;
    height: 30px;
    
  }

 

  /* table.paint_table tr{
    width: 30px;
    height: 30px;
    border: 0px solid #282c34;
  } */