.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container{
  cursor: pointer;
}
.grid-container > div{
  border: 1px solid #585858;
  border-width: 0 1px 1px 0;
  float: left;
}

:root {
  --main-color: #3f51b5;
  --main-text-color: #000;
  --second-text-color: #fff;
  --highlight: #e81e63;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--main-color);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Content {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

.App-link {
  color: #61dafb;
}

.App-Settings {
  width: 40%;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-right: 20px;
  font-size: calc(10px + 1vmin);
}

.mobile-menu {
  margin-bottom: 20px;
  position: fixed;
  left: 0;
  margin-top: -0.86em;
  z-index: 1;
}

.show-settings {
  width: 40px;
  height: 55px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  margin: 15px 0;
  font-size: 1.4em;
  font-weight: bold;
  color: var(--second-text-color);
  background-color: var(--highlight);
  border-bottom: 2px solid black;
}

.line {
   left: 10px;
   margin: 4px auto;
   height: 3px;
   width: 20px;
   background: #fff;
   border-radius: 2px;
   display: block;
}

label {
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid black;
  color: #000;
  color: var(--second-text-color);
  background-color: var(--main-color);
}

#input_height,
#input_width {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  max-width: 30px;
  margin: 5px 15px;
  font-size: 0.8em;
  color: var(--second-text-color);
  background-color: var(--main-color);
}

#input_submit {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 0.9em;
  margin-top: 10px;
  background-color: var(--main-color);
  color: var(--second-text-color);
  border-bottom: 2px solid black;
}

#input_submit:hover {
  opacity: 0.9;
}



/* MOBILE STYLES */
@media screen and (max-width: 600px) {
  .App-Content {
    flex-direction: column;
  }

  .App-Settings,
  .Canvas {
    width: 100%;
    padding: 0;
  }

  .Canvas {
    text-align: center;
  }
}


/* .container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
} */

/* .section-picture{
  margin-top: 2em;
}

.section-canvas{
	margin-top: 2em;
} */

.status{
	color: white;
  margin-top:1em;
}
 
/* .navbar{
	height: 50px;
} */


#pixel_canvas2 td{
  width: 30px;
  height: 30px;
  border: 0px solid #282c34;
}

.table1 td{
  width: 30px;
  height: 30px;
  border: 2px solid #282c34;
}

.box {
  float: right;
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}


